* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(
    135deg,
    #2bb0a6,   
    #3b82f6,   
    #0f172a    
  );
}


.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card h2 {
  margin-bottom: 12px;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: 10px;
  font-size: 14px;
  resize: none;
  outline: none;
  transition: 0.3s;
}

textarea:focus {
  border-color: #667eea;
}

.counter {
  margin-top: 15px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count {
  font-weight: bold;
  font-size: 20px;
  color: #667eea;
}
